In [1]:
import pandas as pd
shotdf = pd.read_csv('shots_data.csv')

In [2]:
#Worflow: 
#1. write a function defZone() that can take in x,y value to detemine the zone of the shot
#2. Divide the dataframe into team A and team B
#3. Given the defZone() we can caluculate the shot distribution 
#4. Calculate shot percentage and eFG% for each zone
#5. Combine into a dataframe

1. write a function defZone() that can take in x,y value to detemine the zone of the shot

In [3]:
shotdf

       team     x     y  fgmade
0    Team A  -5.0  26.4       0
1    Team A  -0.8   1.2       1
2    Team A -13.9   9.5       1
3    Team A  -5.4  26.2       0
4    Team A  -4.9  14.5       1
..      ...   ...   ...     ...
499  Team B  -0.5   2.2       0
500  Team B   3.5   7.6       0
501  Team B   0.2   8.8       0
502  Team B  -0.6   0.7       1
503  Team B  -0.3   3.6       0

[504 rows x 4 columns]

In [4]:
len(shotdf)

504

In [5]:
#Create the zone of the shot column and intialized all the column values to zero
shotdf['shotzone'] = 0

In [6]:
#1 stands for corner 3
#2 stands for non corner 3's
#3 stands for two point shots 

def defZone(i, x, y):
    #corner threes 
    if y <= 7.8 and ((x > 22) or (x < -22)):
        shotdf['shotzone'][i] = "Corner 3"
    elif y > 7.8 and (x*x + y*y) > 23.75*23.75:
        shotdf['shotzone'][i] = "Non Corner 3"
    else:
        shotdf['shotzone'][i] = "Two Point"

In [7]:
for i in range(len(shotdf)):
    defZone(i, shotdf.iloc[i,1], shotdf.iloc[i,2])

/var/folders/f6/z0d78nj136d487t0dd3bdyh00000gn/T/ipykernel_50566/1352710050.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shotdf['shotzone'][i] = "Non Corner 3"
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

2. Divide the dataframe into team A and team B

In [8]:
teamA = shotdf[shotdf['team'] == "Team A"]
teamB = shotdf[shotdf['team'] == "Team B"]

In [9]:
teamA

       team     x     y  fgmade      shotzone
0    Team A  -5.0  26.4       0  Non Corner 3
1    Team A  -0.8   1.2       1     Two Point
2    Team A -13.9   9.5       1     Two Point
3    Team A  -5.4  26.2       0  Non Corner 3
4    Team A  -4.9  14.5       1     Two Point
..      ...   ...   ...     ...           ...
275  Team A  -2.7  24.5       0  Non Corner 3
276  Team A   4.2  10.3       1     Two Point
277  Team A  -9.0   1.2       1     Two Point
278  Team A   1.4  -0.1       0     Two Point
279  Team A   2.4   6.6       1     Two Point

[280 rows x 5 columns]

In [10]:
teamB

       team     x     y  fgmade      shotzone
280  Team B  -2.9  16.7       0     Two Point
281  Team B  10.3  24.7       0  Non Corner 3
282  Team B  -3.5   5.3       1     Two Point
283  Team B   0.9   1.5       0     Two Point
284  Team B  22.8  -1.5       0      Corner 3
..      ...   ...   ...     ...           ...
499  Team B  -0.5   2.2       0     Two Point
500  Team B   3.5   7.6       0     Two Point
501  Team B   0.2   8.8       0     Two Point
502  Team B  -0.6   0.7       1     Two Point
503  Team B  -0.3   3.6       0     Two Point

[224 rows x 5 columns]

3. Given the defZone() we can caluculate the shot distribution

In [11]:
shotdf.groupby(["team"])["fgmade"].count()

team
Team A    280
Team B    224
Name: fgmade, dtype: int64

In [12]:
shotdf.groupby(["team", "shotzone"])["fgmade"].count()

team    shotzone
Team A  Corner 3         18
        Non Corner 3     68
        Two Point       194
Team B  Corner 3         11
        Non Corner 3     62
        Two Point       151
Name: fgmade, dtype: int64

In [13]:
#shot distributution
shot_dis = (shotdf.groupby(["team", "shotzone"])["fgmade"].count()/shotdf.groupby(["team"])["fgmade"].count()).to_frame()
shot_dis.reset_index(inplace=True)
shot_dis.rename(columns = {'fgmade':'Shot Distribution'}, inplace = True)
shot_dis

     team      shotzone  Shot Distribution
0  Team A      Corner 3           0.064286
1  Team A  Non Corner 3           0.242857
2  Team A     Two Point           0.692857
3  Team B      Corner 3           0.049107
4  Team B  Non Corner 3           0.276786
5  Team B     Two Point           0.674107

4. Calculate shot percentage and eFG% for each zone

In [14]:
dfPercentage = (shotdf.groupby(["team", "shotzone"])["fgmade"].sum()/shotdf.groupby(["team", "shotzone"])["fgmade"].count()).to_frame()
dfPercentage.reset_index(inplace=True)
dfPercentage

     team      shotzone    fgmade
0  Team A      Corner 3  0.500000
1  Team A  Non Corner 3  0.308824
2  Team A     Two Point  0.489691
3  Team B      Corner 3  0.363636
4  Team B  Non Corner 3  0.338710
5  Team B     Two Point  0.443709

In [15]:
dfEFG = (shotdf.groupby(["team", "shotzone"])["fgmade"].sum()*1.5/shotdf.groupby(["team", "shotzone"])["fgmade"].count()).to_frame()
dfEFG.reset_index(inplace=True)
dfEFG

     team      shotzone    fgmade
0  Team A      Corner 3  0.750000
1  Team A  Non Corner 3  0.463235
2  Team A     Two Point  0.734536
3  Team B      Corner 3  0.545455
4  Team B  Non Corner 3  0.508065
5  Team B     Two Point  0.665563

In [16]:
dfEFG.loc[2,'fgmade'] = dfPercentage.loc[2,'fgmade']
dfEFG.loc[5,'fgmade'] = dfPercentage.loc[5,'fgmade']

In [17]:
dfPercentage.rename(columns = {'fgmade':'Shot Percentage'}, inplace = True)
dfPercentage

     team      shotzone  Shot Percentage
0  Team A      Corner 3         0.500000
1  Team A  Non Corner 3         0.308824
2  Team A     Two Point         0.489691
3  Team B      Corner 3         0.363636
4  Team B  Non Corner 3         0.338710
5  Team B     Two Point         0.443709

In [18]:
dfEFG.rename(columns = {'fgmade':'eFG%'}, inplace = True)
dfEFG

     team      shotzone      eFG%
0  Team A      Corner 3  0.750000
1  Team A  Non Corner 3  0.463235
2  Team A     Two Point  0.489691
3  Team B      Corner 3  0.545455
4  Team B  Non Corner 3  0.508065
5  Team B     Two Point  0.443709

5. Combine into a dataframe

In [19]:
dfPercentage['eFG%'] = dfEFG['eFG%']
dfPercentage['Shot Distribution'] = shot_dis['Shot Distribution']
df_final = dfPercentage

In [20]:
#Round values to third decimal places
df_final = df_final.reindex([2,1,0,5,4,3])

In [21]:
df_final = df_final.set_index('shotzone')
df_final.round(3)

                team  Shot Percentage   eFG%  Shot Distribution
shotzone
Two Point     Team A            0.490  0.490              0.693
Non Corner 3  Team A            0.309  0.463              0.243
Corner 3      Team A            0.500  0.750              0.064
Two Point     Team B            0.444  0.444              0.674
Non Corner 3  Team B            0.339  0.508              0.277
Corner 3      Team B            0.364  0.545              0.049